@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f2ecbc;
    --foreground: #545464;

    --popover: #f2ecbc;
    --popover-foreground: #545464;

    --primary: #43436c;
    --primary-foreground: #e7dba0;

    --secondary: #d5cea3;
    --secondary-foreground: #363646;

    --muted: #d5cea3;
    --muted-foreground: #2a2a37;

    --accent: #d5cea3;
    --accent-foreground: #363646;

    --destructive: #d7474b;
    --destructive-foreground: #1f1f28;

    --border: #e4d794;
    --input: #e4d794;
    --ring: #43436c;
    --radius: 0.75rem;
  }

  .dark {
    --background: #1f1f28;
    --foreground: #dcd7ba;

    --popover: #1f1f28;
    --popover-foreground: #dcd7ba;

    --primary: #2d4f67;
    --primary-foreground: #c8c093;

    --secondary: #2a2a37;
    --secondary-foreground: #f2ecbc;

    --muted: #363646;
    --muted-foreground: #f2ecbc;

    --accent: #363646;
    --accent-foreground: #f2ecbc;

    --destructive: #c34043;
    --destructive-foreground: #16161d;

    --border: #2a2a37;
    --input: #2a2a37;
    --ring: #2d4f67;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Fira Code', monospace;
  }
}
